@import './components/wcm-address-input.css';
@import './components/wcm-button-big.css';
@import './components/wcm-button.css';
@import './components/wcm-info-footer.css';
@import './components/wcm-modal-backcard.css';
@import './components/wcm-modal-content.css';
@import './components/wcm-modal-footer.css';
@import './components/wcm-modal-header.css';
@import './components/wcm-modal-router.css';
@import './components/wcm-modal-toast.css';
@import './components/wcm-qrcode.css';
@import './components/wcm-search-input.css';
@import './components/wcm-spinner.css';
@import './components/wcm-text.css';
@import './components/wcm-wallet-button.css';
@import './components/wcm-wallet-image.css';

@import './partials/wcm-android-wallet-selection.css';
@import './partials/wcm-connector-waiting.css';
@import './partials/wcm-desktop-wallet-selection.css';
@import './partials/wcm-legal-notice.css';
@import './partials/wcm-mobile-wallet-selection.css';
@import './partials/wcm-modal.css';
@import './partials/wcm-platform-selection.css';
@import './partials/wcm-view-all-wallets-button.css';
@import './partials/wcm-walletconnect-qr.css';

@import './views/wcm-desktop-connecting-view.css';
@import './views/wcm-install-wallet-view.css';
@import './views/wcm-mobile-connecting-view.css';
@import './views/wcm-mobile-qr-connecting-view.css';
@import './views/wcm-wallet-explorer-view.css';
@import './views/wcm-web-connecting-view.css';

@layer base {
  :root {
    --color-primary: rgb(255 115 179);
    --color-secondary: rgb(111 114 185);

    --wcm-color-fg-1: rgb(20, 20, 20);
    --wcm-color-fg-2: rgb(121, 134, 134);
    --wcm-color-fg-3: rgb(158, 169, 169);
    --wcm-color-bg-1: rgb(255, 255, 255);
    --wcm-color-bg-2: rgb(241, 243, 243);
    --wcm-color-bg-3: rgb(228, 231, 231);
    --wcm-color-overlay: rgb(0, 0, 0, 0.1);

    /* TODO: use class based theme toggle for light/dark */
    --wcm-light-color-fg-1: rgb(20, 20, 20);
    --wcm-light-color-fg-2: rgb(121, 134, 134);
    --wcm-light-color-fg-3: rgb(158, 169, 169);
    --wcm-light-color-bg-1: rgb(255, 255, 255);
    --wcm-light-color-bg-2: rgb(241, 243, 243);
    --wcm-light-color-bg-3: rgb(228, 231, 231);
    --wcm-light-color-overlay: rgb(0, 0, 0, 0.1);

    --wcm-dark-color-fg-1: rgb(228, 231, 231);
    --wcm-dark-color-fg-2: rgb(148, 158, 158);
    --wcm-dark-color-fg-3: rgb(110, 119, 119);
    --wcm-dark-color-bg-1: rgb(20, 20, 20);
    --wcm-dark-color-bg-2: rgb(39, 42, 42);
    --wcm-dark-color-bg-3: rgb(59, 64, 64);
    --wcm-dark-color-overlay: rgb(255, 255, 255, 0.1);

    --wcm-accent-color: #3396ff;
    --wcm-accent-fill-color: #ffffff;
    --wcm-z-index: 89;
    --wcm-background-color: #3396ff;
    --wcm-background-border-radius: 8px;
    --wcm-container-border-radius: 30px;
    --wcm-wallet-icon-border-radius: 15px;
    --wcm-wallet-icon-large-border-radius: 30px;
    --wcm-wallet-icon-small-border-radius: 7px;
    --wcm-input-border-radius: 28px;
    --wcm-button-border-radius: 10px;
    --wcm-notification-border-radius: 36px;
    --wcm-secondary-button-border-radius: 28px;
    --wcm-icon-button-border-radius: 50%;
    --wcm-button-hover-highlight-border-radius: 10px;
    --wcm-text-big-bold-size: 20px;
    --wcm-text-big-bold-weight: 600;
    --wcm-text-big-bold-line-height: 24px;
    --wcm-text-big-bold-letter-spacing: -0.03em;
    --wcm-text-big-bold-text-transform: none;
    --wcm-text-xsmall-bold-size: 10px;
    --wcm-text-xsmall-bold-weight: 700;
    --wcm-text-xsmall-bold-line-height: 12px;
    --wcm-text-xsmall-bold-letter-spacing: 0.02em;
    --wcm-text-xsmall-bold-text-transform: uppercase;
    --wcm-text-xsmall-regular-size: 12px;
    --wcm-text-xsmall-regular-weight: 600;
    --wcm-text-xsmall-regular-line-height: 14px;
    --wcm-text-xsmall-regular-letter-spacing: -0.03em;
    --wcm-text-xsmall-regular-text-transform: none;
    --wcm-text-small-thin-size: 14px;
    --wcm-text-small-thin-weight: 500;
    --wcm-text-small-thin-line-height: 16px;
    --wcm-text-small-thin-letter-spacing: -0.03em;
    --wcm-text-small-thin-text-transform: none;
    --wcm-text-small-regular-size: 14px;
    --wcm-text-small-regular-weight: 600;
    --wcm-text-small-regular-line-height: 16px;
    --wcm-text-small-regular-letter-spacing: -0.03em;
    --wcm-text-small-regular-text-transform: none;
    --wcm-text-medium-regular-size: 16px;
    --wcm-text-medium-regular-weight: 600;
    --wcm-text-medium-regular-line-height: 20px;
    --wcm-text-medium-regular-letter-spacing: -0.03em;
    --wcm-text-medium-regular-text-transform: none;
    --wcm-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
    --wcm-font-feature-settings: 'tnum' on, 'lnum' on, 'case' on;
    --wcm-success-color: rgb(38, 181, 98);
    --wcm-error-color: rgb(242, 90, 103);
    --wcm-overlay-background-color: rgba(0, 0, 0, 0.3);
    --wcm-overlay-backdrop-filter: none;
  }
}
