.env
.env.*
.git
.cert
.tmp
.vscode
.yarn
.cache
.local
build
dist
node_modules
prisma/migrations
Dockerfile
website
typesense-data
flyio
tsconfig.tsbuildinfo
bin/
obj/
out/
release/
umbraco/
fly.toml
fly.*.toml